html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items:center;

  font-family: "Poppins", sans-serif;  
  background: #100a1c;
  color: #6cacc5;
}

                   /* resets */
.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

                           /* HW-14 => calculator */
.calculator {
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
   width:250px;  
}
.calculator__display{
  text-align: right;
  padding: 10px;
  background-color: #212121;
  font-size: 20px;
}
.calculator__keys{
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4,auto);
  grid-template-areas: 
  ". . . ."
  "seven eight nine equal"
  "four five six equal"
  "one too three equal"
  "zero decimal clear equal";
}

.one{
  grid-area: one;
}
.too{
  grid-area: too;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six{
  grid-area: six;
}
.seven {
  grid-area:seven ;
}
.eight {
  grid-area: eight;
}
.nine{
  grid-area: nine;
}
.zero{
  grid-area:zero ;
}
 .decimal {
   grid-area: decimal;
  }

 .clear{
   grid-area: clear;
  }

  .equal{
    grid-area: equal;
  }

  .calculator__btn{
    padding: 10px;
    font-size: 15px;
    border: 0;
  }
  .calculator__btn:hover,
  .calculator__btn:focus {
    background: #aaa4fb;
    border-width:1px
  }