html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;  
  background: linear-gradient(to right, #180d2d, #6cacc5);
  color: #6cacc5;
}

                   /* resets */
.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

             /* HW-14 => calculator */
.calculator-grid{
  display: grid;
  justify-content: center;
  align-content:center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);  
  }

 .calculator-grid > button {
   cursor: pointer;
   font-size: 2rem;
   border: 1px solid #fff;
   outline: none;
 }

 .calculator-grid>button:hover,
 .calculator-grid>button:focus {
  background-color:rgb(147, 219, 219);
 }
 
  .span-two {
    grid-column: span 2;
  }

 .output {
   grid-column: 1 / -1;
   background-color: rgba(0, 0, 0, 0.75);
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   flex-direction: column;
   padding: 10px;
   word-wrap: break-word;
   word-break: break-all;
 }

 .output .previous-operand {
   color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
 }
  
 .output .current-operand {
   color: white;
   font-size: 2.5rem;
 }