html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Poppins", sans-serif;
}
/* общие сбросы */
.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}


.button {
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  margin: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
 
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  
  color: #FFFFFF;  
  font-size: 20px;
  line-height: 5px;  
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

                             /* HW-16 => to do list */

.todo-container{
  margin: 30px auto; 
  text-align: center; 
  max-width: 550px; 
  min-height: 300px;
  padding: 20px 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.todo-title{
  text-align: center;
  margin-bottom: 15px;
  color: 000;
  text-transform: uppercase;
}

.todo-input{
  vertical-align: middle;
  height: 35px;
  width: 80%;
  box-sizing: border-box;
  border: solid 1px;
  padding: 7px 10px;
  
  color: #333;
  border-color: #5B42F3;
}

.todo-input:focus,
.todo-input:active{
  outline: none;
} 

.todo-button{
  border: solid 1px #5B42F3;
  padding: 7px 10px;
  background: #5B42F3;
  cursor: pointer;
  min-width: 50px;
  
  color: #fefefe;
  line-height: 1;
  font-size: 15px;
  text-transform: uppercase;
}
.todo-button:hover,
.todo-button:focus {
  outline: none;
}

.todo-input,
.todo-button {
  vertical-align: middle;
  height: 35px;
  box-sizing: border-box;
}

.todos{
  position: relative; 
  text-align: left; 
  margin: 30px auto; 
  padding: 15px; 
  border: solid 1px transparent;
  font-size: 12px;
  }   
    
  .todo-checkbox{
    position: absolute;
    right: 8px;    
    cursor: pointer;
  }
  
    .todo-item{
      margin-bottom: 15px;  
    }