html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-size: cover;
  height: 100vh;
  color: #212121;
}

/* resets */
.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  padding: 30px;
}

.order-input-block {
  margin-bottom: 20px;
}

#order-input {
  padding: 16px;
  width: 250px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-color: transparent;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: transparent;
}

#order-btn {
  min-width: 150px;
  background-color: #2c65a7;
  color: #f5f5f5;
  padding: 16px;
  letter-spacing: 0.06em;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.statusBar {
  padding: 10px;
  margin-bottom: 10px;
  width: 415px;
  margin-right: 10px;
  background-color: #f5f5f5;
}

.targetStatusBar {
  background-color: #2c65a7;
  color: #f5f5f5;
}
